<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Customers</h1>
  <div id="customer-search-table"></div>
  <br>

  <%= link_to 'New Customer', new_customer_path %>
</div>
<%= content_tag :div,
  id: "search-query",
  data: @query do %>
<% end %>
<%= javascript_pack_tag 'customers_search' %>
