<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Customers</h1>
  <div id="customer-search-table"></div>
  <br>

  <%= link_to 'New Customer', new_customer_path %>
</div>
<%= content_tag :div,
  id: "customer_data",
  data: @customers.collect{|customer| {firstName: customer.first_name, lastName: customer.last_name}}.to_json do %>
<% end %>
<%= javascript_pack_tag 'customers_search' %>
